{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<form method="post" action="/orders">
    <h3>Place a new order</h3>
    <input type="number" name="units" placeholder="units"><br>
    <input type="submit" name="Submit">
</form>
<form method="post" action="/message">
    <h3>Send a new message</h3>
    <input type="text" name="name" placeholder="name here"><br>
    <textarea name="message" placeholder="message here"></textarea><br>
    <input type="submit" name="Submit">
</form>
<form method="post" action="/customer">
    <h3>Add new customer</h3>
    <input type="text" name="name" placeholder="name here"><br>
    <input type="text" name="position" placeholder="position here"><br>
    <input type="text" name="office" placeholder="office here"><br>
    <input type="number" name="age" placeholder="age here"><br>
    <input type="text" name="salary" placeholder="salary here"><br>
    <input type="submit" name="Submit">
</form>

{% endblock %}
