{% extends "layout.html" %}

{% block header %}
<h1>{% block title %} Data Table {% endblock %}</h1>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
{% endblock %}

{% block content %}

<!-- <h2>{{ title }}.</h2>
<h3>{{ message }}</h3> -->

<p>Use this area to provide additional information.</p>
<div class="row">
    <div id="selection" class="col-md-2">
        <form method="post">
            <label for="province_select">Province: </label><br />
            {% for province in province_list %}
            {% if province in provinces %}
            <input type="checkbox" id="check-{{ province }}" class="form-check-input province_select" name="province_select" value="{{ province }}" onclick="submitLabel()" checked />
            {% else %}
            <input type="checkbox" id="check-{{ province }}" class="form-check-input province_select" name="province_select" value="{{ province }}" onclick="submitLabel()" />
            {% endif %}
            <label class="form-check-label" for="check-{{ province }}">{{ province }}</label> <br />
            {% endfor %}
            <br />

            <label for="gender_select">Gender: </label><br />
            {% for gender in gender_list %}
            {% if gender in genders %}
            <input type="checkbox" id="check-{{ gender }}" class="form-check-input gender_select" name="gender_select" value="{{ gender }}" onclick="submitLabel()" checked />
            {% else %}
            <input type="checkbox" id="check-{{ gender }}" class="form-check-input gender_select" name="gender_select" value="{{ gender }}" onclick="submitLabel()" />
            {% endif %}
            <label class="form-check-label" for="check-{{ gender }}">{{ gender }}</label><br />
            {% endfor %}
            <br />

            <label for="etc">Etc:</label><br />
            {% if check_exp == '1' %}
            <input type="checkbox" id="passport-exp-check" class="form-check-input" name="passport_exp_check" value="1" onclick="submitLabel()" checked />
            {% else %}
            <input type="checkbox" id="passport-exp-check" class="form-check-input" name="passport_exp_check" value="1" onclick="submitLabel()" />
            {% endif %}
            <label class="form-check-label" for="passport-exp-check">Passport Expiring in less than 1 year</label>
            {% if check_update == '1' %}
            <input type="checkbox" id="last-update-check" class="form-check-input" name="last_update_check" value="1" onclick="submitLabel()" checked/>
            {% else %}
            <input type="checkbox" id="last-update-check" class="form-check-input" name="last_update_check" value="1" onclick="submitLabel()" />
            {% endif %}
            <label class="form-check-label" for="last-update-check">Last updated more than 1 year ago</label>

            <input id="submitBtn" type="submit" class="btn" value="Show All" />
        </form>
    </div>

    <div id="dataTable" class="col-md-10">
        <table class="table">
            <tr>
                {% if data|length > 0 %}
                    {% for key in data[0]['main'].keys() %}
                    <th>{{key}}</th>
                    {% endfor %}
                {% endif %}
                <th></th>
            </tr>

            {% for row in data %}
            <tr class="collapsible">
                {% for key in row['main'].keys() %}
                <td>{{ row['main'][key] }}</td>
                {% endfor %}
                <td class="sign"></td>
            </tr>
            <tr class="detail">
                <td class="card card-body" colspan="{{ data[0]['main']|length + 1}}" style="padding: 0px;">
                    <div class="content" style="padding: 8px; display: none;">
                        {% for key in row['detail'].keys() %}
                        <b>{{ key }}: </b>{{row['detail'][key]}}<br />
                        {% endfor %}
                    </div>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

<!--<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
                content.children[0].style.fontSize = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
                content.children[0].style.fontSize = "14px";
            }
        });
    }
</script>-->

<style>
    .collapsible .sign:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: white;
        float: right;
        margin-left: 5px;
    }

    .active .sign:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }

    /*.detail, .detail td {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        font-size: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }*/

</style>

<script>
    $(".collapsible").click(function () {
        $(this).next().find("div").toggle("slow");
        $(this).toggleClass("active")
    })

    function submitLabel() {
        var check1 = document.forms[0];
        var select = false;
        for (i = 0; i < check1.length; i++) {
            if (check1[i].checked) {
                select = true;
            }
        }
        if (select) {
            document.getElementById("submitBtn").value = "Update Table"
        } else {
            document.getElementById("submitBtn").value = "Show All"
        }
    }
</script>

{% endblock %}
