﻿<!DOCTYPE html>
<html>
<head>
    <style>
        .badge {
          position: absolute;
          top: 1px;
          right: -5px;
          padding: 5px 10px;
          border-radius: 50%;
          background: red !important;
          color: white;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Konjen Toronto Demo</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('table.data') }}">Filter Data</a></li>
                    <!--<li><a href="{{ url_for('contact') }}">Contact</a></li>-->
                    <li><a href="{{ url_for('massMessage.send') }}">Send Message</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li> <!--class="dropdown-menu"--><a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span><span class="badge">{{ notification|length + 1}}</span></a>
                        <ul class="dropdown-menu">
                            {% for note in notification %}
                            <li><a href="{{ url_for('table.data', personid=note['id']) }}">{{ note['msg'] }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
