﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

{% extends 'layout.html' %}

{% block header %}
    <h1>{% block title %} Send Notification messages {% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="recipients">Phone Numbers (Include country code (+1), and separate phone numbers with ';' ): </label><br />
        <input type="text" class="form-control" name="recipients" id="recipients" required /><br />
        <label for="message">Message: </label><br />
        <textarea name="message" id="message" class="form-control" required ></textarea><br />
        <input type="submit" class="btn" value="Send" />
    </form>
{% endblock %}